.add_btn {
    width: 8em;
    height: 1.8rem;
    border: none;
    border-radius: 0.2rem;
    background-color: #5783db;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 2rem;
  }
  
  .add_btn:hover {
    background-color: #4681f4;
  }


  .popup_box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 20%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }
   
  .close_icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(40% - 1rem);
    top: calc(100vh - 85vh - 1rem);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }