.todo_text {
    display:block;
    width: 90%;
    word-wrap:break-word;
}


.delete_icon {
    cursor: pointer;
    margin-left: .4rem;
}

.edit_icon {
    cursor: pointer;
    margin-left: .4rem;
}